<article class="pub-card{{ if eq .type "patent" }} pub-card--patent{{ end }}">
  <h3 class="pub-card__title">{{ .title }}</h3>
  <p class="pub-card__authors">{{ .authors | safeHTML }}</p>
  <p class="pub-card__venue-line">
    {{ if eq .type "patent" }}International Patent{{ else }}{{ .venue }}{{ end }}, {{ .year }}
    {{ if .award }}<br><span class="pub-card__award">★ {{ .award }}</span>{{ end }}
  </p>
  <div class="pub-card__links">
    {{ if .paper_url }}
    <a href="{{ .paper_url }}" class="pub-link" target="_blank" rel="noopener">
      {{ partial "icon.html" (dict "name" "paper" "size" 13) }}
      Paper
    </a>
    {{ end }}
    {{ if .code_url }}
    <a href="{{ .code_url }}" class="pub-link" target="_blank" rel="noopener">
      {{ partial "icon.html" (dict "name" "code" "size" 13) }}
      Code
    </a>
    {{ end }}
  </div>
</article>
